@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif !important;
}

#shadowBottom{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#shadowRight{
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.1);
}

#shadowBox{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}

#homeCard{
  border-radius: 10px;
  width: 100% ;
  aspect-ratio: 360/200;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

#homeCard:hover{
  transform: scale(1.05);
}

#otherCard{
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 160/213;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.4s;
}

#otherCard:hover{
  transform: scale(1.05);
}

/* #otherCard:hover{
  -webkit-filter: blur(3px);
  transition: 0.8s;
}

#otherCard:hover #overlayOtherCard{
  display: block !important;
} */

img{
  cursor: pointer;
}

#progress-container {
  width: 100%;
  height: 2px;
}

/* The progress bar (scroll indicator) */
#progress-bar {
  height: 2px;
  background-image: linear-gradient(to right, #0099f7, #f11712);
  width: 0%;
}

#videoCard{
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}

#similarCard{
  width: 160px;
  border-radius: 10px;
  aspect-ratio: 160/90;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}

@media (max-width:1024px) {
  #similarCard{
    width: 130px;
    border-radius: 10px;
    aspect-ratio: 160/90;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
  }
}

#trallerCard{
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}

#searchNameBox{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}


#searchNameCard{
  width: 40px;
  aspect-ratio: 40/52;
  border-radius: 5px;
}

#overlay{
  width: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.616);
  position: fixed;
  z-index: 99;
}

@keyframes leftToRight {
    0%{
      transform: translateX(-500px);
      opacity: 0;
    }
   
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
}

#iconBar{
  display: none;
}

@media (max-width:768px) {
  #iconBar{
    display: block;
  }
}

#dark{
  background-color: #222 !important;
  color: white !important;
  transition: 0.6s;
}

#light{
  background-color: white !important;
  color: black !important;
  transition: 0.6s;
}